:root{

    --important-text: red;
}
span{
    border: dotted;
width: 25px;
height: 35px;

}
.important{
    
    color: var(--important-text);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  p{

    text-align: center;
  }