/* Add your styles here */

img{
    width: 300px;
}
h1{
    padding: 5px;
    font-family: Arial;
    font-size: 24px;
    color: white;
    background-color:red;

}

#author-name-and-date{
    background-color: rgb(248,248,255);
    background-image: url(SnakeBite.jpg);
    font-family: Arial;
    font-size: 12px;
    color: lightgray;
}

p{
    font-family: "Times New Roman";
    font-size: 16px;
    color: gray;
}

ol{
    font-family: "Times New Roman";
    font-size: 16px;
    color: gray;
}

a{
    font-family: Arial;
    font-size: 12px;
    color: blue;
}